
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<ul>
    <li><a href="@Url.Action("SearchOrder","Admin")">Search Order</a></li>
    <li><a href="@Url.Action("SearchForUser","Admin")">Change User Password</a></li>
    <li><a href="@Url.Action("DeleteAccount","Admin")">Delete Account</a></li>
    <li><a href="@Url.Action("ChangeUserRole","Admin")">Change User Role</a></li>
</ul>


