
@{
    ViewBag.Title = "PostAdminAction";
}
<br />
<h2>@ViewBag.message</h2>
<br />
<input type="submit" onclick="location.href='@Url.Action("Index","Home")'" value="Back to Home" />
<br />
<br />
<input type="submit" onclick="location.href='@Url.Action("Index","Admin")'" value="Back to Admin Home" />
