

@{
    ViewBag.Title = "Settings";
}

<h2>Account Settings</h2>

<ul>
    <li><a href="@Url.Action("ChangePassword","Account")">Change Password</a></li>
    <li><a href="@Url.Action("ChangeEmail","Account")">Change Email</a></li>
    <li><a href="@Url.Action("DeleteAccount","Account")">Delete Account</a></li>
</ul>

