
@{
    ViewBag.Title = "ErrorWithOrder";
}

<h2>Error With Order</h2>

<p> There was an error with your order, we apologize for the inconvenience you are experiencing. If this error persist, please contact support at (309) 444-2610 or fakeSupportEmail@gmail.com. But really dont, this is a fake site and I dont own either if those points of contact. </p>

