
@{
    ViewBag.Title = "OrderComplete";
}
<br />
<h2>Thank you for your order!</h2>
<input type="submit" onclick="location.href='@Url.Action("Index","Products")'" value="Back To Browse" class="btn btn-default" />

